.wrapper {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 24px;
    background-image: url("../../img/background.svg");
    background-size: cover;
    animation: rotate 5s infinite alternate linear;
    font-family: "Euclid Circular A", sans-serif;
    color: #000;
  }
  
  @keyframes rotate {
    100% {
      background-position: 25% 50%;
    }
  }
  
  .login {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    background: #ffffff;
    text-align: center;
  }
  
  @media (min-width: 500px) {
    .login {
      width: 70%;
    }
  }
  
  @media (min-width: 680px) {
    .login {
      top: 0;
      right: 0;
      left: auto;
      transform: none;
      margin: 0;
      height: 100%;
      width: 50%;
      border-radius: 0;
      padding-top: 240px;
    }
  }
  
  .login > img {
    width: 160px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .login > h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 30px;
  }
  
  .login > h3 {
    color: rgba(0, 0, 0, 0.38);
    margin: 0 0 6px;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .loginForm {
    display: grid;
    gap: 20px;
    place-items: center;
    width: 100%;
    margin: 0;
  }
  
  .loginForm > input,
  .loginForm > button {
    height: 56px;
    width: 100%;
    outline: none;
    padding: 0;
    border-radius: 10px;
    font-family: inherit;
  }
  
  .loginForm > input {
    background: #eeeeee;
    border: 0;
    font-size: 18px;
    text-align: center;
  }
  
  .loginForm > button {
    cursor: pointer;
    background: #685aff;
    color: #f9f9f9;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  .loginForm > a {
    color: #685aff;
    font-size: 1rem;
    text-align: left;
    text-decoration: none;
  }